
  <div class="navbar">
    <h4>Restaurant Finder</h4>
    <div class="links">
      <%= link_to 'All Restaurants', restaurants_path, :class=>"link" %>
      <%= link_to 'Create a Restaurant', new_restaurant_path, :class=>"link" %>
    </div>
  </div>

